#u1253-4,#u259-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u261-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1757-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u265-4,#u263-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u264-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1323-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u246-4,#u519-4,#u335-4,#u1250-4
{
	font-family: alex-brush-n4, cursive;
}

#u247-7,#u520-9,#u336-10,#u1429-21,#u1405-7
{
	font-family: source-sans-pro-n4, sans-serif;
}

